.cards{
    &__titles{
        margin-top: 15px;
        background: $dark;
        color: $gray;
        padding: 10px 0;
        opacity: .5;
        .wrapper{
            display: grid;
            grid-template-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
            justify-items: center;
        }
        .title__coin-value{
            justify-self: start;
        }
    }

    &__container{
        .wrapper{
            display: grid;
            grid-template-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
        }
        .cards__item{
            background: $lightBlue;
            margin: 5px 0;
            color: $white;
            .item__symbol-price{
                justify-self: start;
                font-size: 14px;
                padding: 7px 0;
                b{
                    display: block;
                }
                .symbol-price__symbol{
                    color: #0085b8;
                    padding-bottom: 5px;
                }
                .symbol-price__price{
                    color: $lightGray;
                }
            }
            .price-change{
                margin: 0 2px;
                p{
                    text-align: center;
                    font-size: 11px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .market-cap, .volume{
                p{
                    text-align: center;
                    font-size: 11px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}