.cards{
    @include atMedium{
        margin-top: 30px;
    }
    &__titles{
        margin-top: 15px;
        background: $dark;
        color: $gray;
        padding: 10px 0;
        opacity: .5;
        .wrapper{
            display: grid;
            grid-template-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
            justify-items: center;
        }
        .title__coin-value{
            justify-self: start;
        }
        @include atMedium{
            display: none;
        }
    }

    &__container{
        @include atMedium{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
        .wrapper{
            display: grid;
            grid-template-columns: 18% 8% 14.8% 14.8% 14.8% 14.8% 14.8%;
            position: relative;
            width: 100%;
            padding: 0 0 0 10px;
            .add-favorite_btn{
                margin-top: 1px;
                display: block;
                color: yellow;
                cursor: pointer;
                align-self: start;
                justify-self: center;
                padding: 5px;
                grid-column-start: 2;
                grid-row-start: 1
            }
            @include atMedium{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
                .add-favorite_btn{
                  color: yellow;
                  cursor: pointer;
                  padding: 5px;
                  margin: 8px 0;
                  width: 100%;
                  border-bottom-right-radius: 10px;
                  border-bottom-left-radius: 10px;
                  text-align: center;
                }
            }
        }
        .cards__item{
            background: $lightBlue;
            margin: 5px;
            color: $white;
            @include atMedium{
                width: 30%;
                border: 5.5px solid $darkpurple;
                border-radius: 15px;
                // padding: 15px 0;
            }
            @include atLarge{
                width: 18%;
            }
            @include atExtraLarge{
                width: 15%;
            }
            .item__symbol-price{
                justify-self: start;
                font-size: 14px;
                padding: 7px 0;
                @include atMedium{
                    padding: 15px 0 7px 0;
                }
                .symbol-price__symbol{
                    color: #0085b8;
                    padding-bottom: 5px;
                    display: block;
                }
                .symbol-price__price{
                    color: $lightGray;
                }
                @include atMedium{
                    .symbol-price__symbol{
                        font-size: 25px;
                    }
                    .symbol-price__price{
                        font-size: 18px;
                    }
                    .symbol-price__symbol, .symbol-price__price{
                        display: block;
                        text-align: center;
                    }
                }
            }
            .price-change{
                margin: 0 2px;
                @include atMedium{
                    margin: 0;
                }
            }
            .market-cap, .volume{
                background-color: $purple2;
                &:nth-child(5){
                    margin-right: 4px;
                    margin-left: 2px;
                }
                @include atMedium{
                    &:nth-child(5){
                        margin: 1px 0;
                    }
                }
            }
            .price-change, .market-cap, .volume{
                .price-change-timeframe{
                    display: none;
                }
                p{
                    text-align: center;
                    font-size: 11px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    @include atMedium{
                        transform: translateY(0%);
                        text-align: right;
                        font-size: 15px;
                        display: inline-block;
                        float: right;
                    }
                }
                @include atMedium{
                    padding: 8px 5px;
                    margin: 1px 0;
                    .price-change-timeframe{
                        display: inline-block;
                        color: $superLightGray;
                    }
                }
            }

        }
    }
}