.market-status{
    background-color: $dark;
    width: 100%;
    color: $white;
    padding: 25px 0;
    .wrapper{
        width: 98%;
        display: flex;
        @include atMedium{
            width: 90%;
            justify-content: space-evenly;
        }
    }
    &__data{
        width: 33.333%;
        text-align: center;
        font-size: 11px;
        float: left;
        position: relative;
        @include atSmall{
            padding: 0 8px;
        }
        @include atMedium{
            width: auto;
            text-align: left;
            padding-left: 100px;
            font-size: 12px;
        }
        @include atLarge{
            font-size: 14px;
        }
        .fas{
            display: none;
            @include atMedium{
                display: block;
                font-size: 70px;
                position: absolute;
                left: 0;
                color: $main;
            }
        }
        &--border{
            &:after{
                content: '';
                background-color: $main;
                height: 180%;
                width: 2px;
                position: absolute;
                top: -25px;
                left: 0;
            }
            &:before{
                content: '';
                background-color: $main;
                height: 180%;
                width: 2px;
                position: absolute;
                top: -25px;
                right: 0;
            }
            &:before, &:after{
                @include atMedium{
                    display: none;
                }
            }
        }
    }

    &__title{
        color: $gray;
        margin-top: 0;
        margin-bottom: 10px;
        .colon{
            display: none;
        }
    }

    &__marketcap, &__volume{
        margin: 0;
        @include atMedium{
            display: inline-block;
        }
        &--change{
            margin-top: 5px;
            margin-bottom: 0;
        }
    }

    &__dominance{
        padding-left: 0;
        width: 80px;
        margin: 0 auto;

        @include atMedium{
            width: auto;
            font-size: 13px;
        }
        li{
            text-align: left;
            list-style: none;
            .coin-symbol{
                padding-right: 5px;
            }
        }
    }

    .marketcap-change__ptc, .volume-change__ptc{
        margin-left: 5px;
    }

}