.market-status{
    background-color: $dark;
    width: 100%;
    position: absolute;
    left: 0;
    color: $white;
    display: flex;
    
    &__data{
        width: 33.333%;
        padding: 0 6px;
        &--border{
            border-left: 2px solid $main;
            border-right: 2px solid $main;
        }
    }

    &__title{
        color: $gray;
        font-size: 12px;
        padding-bottom: 5px;
    }

    &__marketcap, &__volume{
        font-size: 11px;

        &--change{
            font-size: 12px;
        }
    }

    &__dominance{
        padding-left: 15px;
        li{
            font-size: 12px;
        }
    }

    .marketcap-change__ptc, .volume-change__ptc{
        margin-left: 5px;
    }

}