body{
    background: $main;
    font-family: $roboto;
}

*{
    box-sizing: border-box;
    margin: 0;
    // Fixes weird effect that happens to other elements on page when hovering over the "Favorites" button.
    -webkit-backface-visibility: hidden;
}