// COLORS
$main: #0F1221;
$white: white;
$lightGray: rgb(173, 173, 173);
$gray: #757575;
$purple: #9B51E0;
$blue: #3D8EFD;
$lightBlue: #000122;
$dark: #000317;

// FONTS
$roboto: 'Roboto', sans-serif;
